# 1. Chặn tất cả nhưng cho phép liệt kê thư mục
/*
!/plugins/
!/themes/
!/.github/

# 2. Chặn mọi thứ bên trong plugins/ trừ az-academy-core
/plugins/*
!/plugins/az-academy-core/

# 3. Chặn mọi thứ bên trong themes/ trừ az-academy
/themes/*
!/themes/az-academy/

# 4. Mở khóa file cấu hình
!/.gitignore
!/README.md

# 5. Rác hệ thống
.DS_Store
Thumbs.db
vendor/