# 1. Chặn toàn bộ thư mục gốc
/*

# 2. Mở khóa đường dẫn đến Plugin
!/wp-content/
/wp-content/*
!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/az-academy-core/

# 3. Mở khóa đường dẫn đến Theme (Sửa tại đây)
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/az-academy/

# 4. Các file cấu hình
!/.gitignore
!/README.md

# 5. Rác hệ thống
.DS_Store
Thumbs.db