name: Deploy Az-Attendance
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Sync via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./
          # Đường dẫn tuyệt đối đến thư mục wp-content trên host
          server-dir: /var/www/hv_azacademy_usr/data/www/hv.azacademy.vn/wp-content/
          # Dùng lệnh này thay cho delete-removed để tránh lỗi vàng
          dangerous-clean-slate: false
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            README.md
            .gitignore
